body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 70px;
    line-height: 60%;
    color: rgba(90, 88, 88, 0.993);
    

}
.span-word {
    color: rgb(243, 104, 79);
}
.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 20px 40px;
    color: white;
    border-radius: 50px;
    font-weight: 700px;
}

.upper-padding {
    padding-top: 80px;
}
.flexible {
    display: flex;
    margin-bottom: 100px;
}
.flexible-div {
    width: 45%;
    padding-left: 5%;
}
.flexible-div p {
    padding-bottom: 30px;
}
.flexible-div img {
    width: 100%;

}
.flexible-2 {
    display: flex;
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 100px;
    
}
.flexible-div-2 {
    width: 45%;
    padding-left: 5%;
    height: 500px;

}
.flexible-div-2 h2 {
    font-size: 50px;
}
.flexible-div-2 p {
    padding-bottom: 50px;
}
.flexible-div-2 img {
    width: 100%;
    object-fit: cover;
}
